.country-card{
    border: 2px dashed black;
    margin: 10px 15px ;
    box-shadow: 2px 2px 2px;
    background-color: lightgoldenrodyellow;
    width: 30%;
    height: 400px;
   
}
.country-card img{
    height: 200px;
    width: 80%;
}